<div id = "start_thread"> 
<a ><p id = "start_thread_button">Start a new thread</p></a>
</div>
<br>
<% @quest.qs.order("created_at DESC").each do |q| %>
<a href = <%= '/quests/'+@quest.id.to_s()+'/qs/'+q.id.to_s()%>>
<span>
<div class = "qs_tiles">
<div class="time">
<%=q.created_at.strftime("%b %d, %Y")%>
</div>
<h2 style = "margin-left:3px;padding:5px;"><%=q.title%></h2>
</div>
</span></a>
<%end%>
<script>$(function() {
  	$('p#start_thread_button').click(function(){ 
  $(".quests_show").html("<%=escape_javascript(render"qs/form")%>");      
        window.history.pushState(null, document.title,"#");
 
  });
});

</script> 