<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body><%=@feedback_content%> --------------------------------
  	by <%=@feedback_name%></body>
</html>