<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body><%=@track_email%> is now tracking the algorithm repository at Daqwest</body>
</html>