<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   New Post in thread <%= @qmail.q.title%> of <%=@qmail.q.quest.title%>
    <p>
   <%=raw @qmail.content%>   
    </p>
   Have a great day!
  </body>
</html>