<%= form_for([@quest, @quest.qs.build], :remote => true) do |f| %>
  <div>
    <%= f.text_field :title ,:value=>"Subject For the Thread"%>
 	<%=cktext_area_tag :qmail_content%>
    <%= f.submit "Add New Thread", :class => 'qmail_submit'%>
  
  </div>  
  
<% end %>
    


