
<div id="q" data-id="<%=@q.id%>">

<b>    <%= @q.title %></b>
  </p>
 


<hr id="boldhr">
    <div id='com' >
    <%if @q.qmails %>
      <%= render @q.qmails %>
   
<%end%>
 </div>
  <div  id="qmail_field">
<%= render "qmails/form" %>
</div>

</div>
