  <%if @articles!=nil && @articles!=[]%>
<script>
 $(function() {       
 $( "#tabs" ).tabs({
 	 beforeLoad: function( event, ui ) {
        if ( ui.tab.data( "loaded" ) ) {
            event.preventDefault();
            return;
        }
 
        ui.jqXHR.success(function() {
            ui.tab.data( "loaded", true );
        });
    }
 	
 }).addClass( "ui-tabs-vertical ui-helper-clearfix" );
    $( "#tabs li" ).removeClass( "ui-corner-top" ).addClass( "ui-corner-left" );  });
</script>

<div id="algo_article" class="vm_results" style="margin-left:0px; width:1200px;">      
  
<div style="margin-top:5px;">
   
<div id="tabs">
  <ul>
<%@articles.each do |t|%>
			
 	<li>	
 	<div style="height:75px;border:1px solid #e8e8e8;padding:5px;"><div style="">
 					<a href = "<%=t["link"]%>"><%=raw t["title"]%></a>
 				</div>
 				<div style="float:right;background-color:#888;color:#fff;padding:2px;font-family:sans-serif;font-weight: 200;"><%=t["source"]%></div></div>
 	</li>	
 <%end%>
 </ul>
</div>				
 	
</div>
</div>
<%end%>
