<%if @pseudocode!=nil && @pseudocode!=[]%>
<div id="code" class="vm_results">
   
        <%begin%>
						<div style="font-family:BentoSans;color:#666;font-size:2em;">Implementation</div><br>
						<%@pseudocode.each do |l|%>
                        <div id = "searchresults"><%=raw l%></div>
                        <br>
                        <%end%>
		<%rescue%>
		<%end%>
        
 </div>
 <%end%>
 <%if @langcodes!=nil && @langcodes!=[]%>

<div id="code" class="vm_results">

<b>    rosetta codes</b>

    <%j=0%>
	<%while j < @langcodes.length%> 
	 <hr>
	    <%k = 0%>
	    <%while k < @langcodes[j].length%>
	         <%=raw @langcodes[j][k]%>
	         <%k = k + 1%>
	     <%end%>
	     <%j = j + 1%>
	<%end%>
	
	</div>
	<%end%>