<div id="code" class="vm_results">
   
        <%if @pseudocode%>
		<%begin%>
						<div style="font-family:BentoSans;color:#666;font-size:2em;">Implementation</div><br>
						<%@pseudocode.each do |l|%>
                        <div id = "searchresults"><%=raw l%></div>
                        <br>
                        <%end%>
		<%rescue%>
		<%end%>
        <%end%>
     <%if @code_arr%>
        <%begin%>
            <%@code_arr.each do |t|%>
				<div id = "searchresults"><a class= "geeks_link" href = "<%= raw t.link%>"><%=raw t.htag%></a></div>				
				<%end%>
        <%rescue%>
        <%end%>
        <%end%>
 </div>
<div id="code" class="vm_results">

 <%if @langcodes%>
<b>    rosetta codes</b>

    <%j=0%>
	<%while j < @langcodes.length%> 
	 <hr>
	    <%k = 0%>
	    <%while k < @langcodes[j].length%>
	         <%=raw @langcodes[j][k]%>
	         <%k = k + 1%>
	     <%end%>
	     <%j = j + 1%>
	<%end%>
	<%end%>
	</div>