<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!DOCTYPE html>
<html>
<head>
<title>
<%= title %></title>
<%= render 'layouts/stylesheets' %> 
<%= javascript_include_tag "algorithm" %>
 	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body>
<div class="dashboard">

<div class= "dashboard_content_area">
 
<div class="quest_search_page" style ="margin-top:20px;margin-left:18%;" >
	
<%= render "result"%>

</div>
</div>
</div>

</body>