<div class="notifications_all">
<h2>Notifications</h2>
</br>
<%current_user.notifications.find(:all, :order=>'created_at desc').each do |notification|%>

<%if notification.sender_id%>
 	<div style = "float:left;margin-top:5px;margin-bottom:5px;"><%= image_tag(Gravatar.new(User.find(notification.sender_id).email).image_url, :size => "30x30") %></div>
<%end%>

<% if !notification.has_read %>
<div class="unread_notification" >
<span class= "clear_notification1"data-id="<%= notification.id %>">
  ✓ </span>
<% else %>
<div class="notification_tile">
<%end%>

<div style="float:left;margin-left:10px;font-size:16px;"><%= link_to notification.content,{ :controller=> "pages",:action => "read_notification",:n_id =>notification.id}, {:remote=>true}%></div>


<div style="font-size: 1.0em;font-color:#666;float:right;">
<%=notification.created_at.strftime("%b, %d")%>
</div>
</div>
<hr>
<%end%>
</div>

<script>
$(function() {
   $('.clear_notification1').click(function()
   {
   	$(this).parent().css("background-color", "white");
  $(this).fadeOut(300);
  n_id = $(this).attr("data-id");
 	$.ajax({
type: "POST",
url: "/clear_notification",
data: { n_id: n_id }
});
return false;
   });	
});
</script>