<div class="notifications_all">
<h2>Notifications</h2>
</br>
<%current_user.notifications.find(:all, :order=>'created_at desc').each do |notification|%>

	<% if !notification.has_read %>
		<div class="unread_notification" >
	<% else %>
		<div class="notification_tile">
	<%end%>

<%= link_to notification.content,{ :controller=> "pages",:action => "read_notification",:n_id =>notification.id}, {:remote=>true}%>
<%if notification.sender_id%>
 	<%= image_tag(Gravatar.new(User.find(notification.sender_id).email).image_url, :size => "30x30") %> 
<%end%>
<div class="time">
<%=notification.created_at.strftime("%b, %d")%>
</div>
</div>
<hr>
<%end%>
</div>
