<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

 <head>
<title>Mission - Daqwest</title>
<%= stylesheet_link_tag 'algorithm', :media => 'screen' %>
<%= javascript_include_tag "algorithm" %>
 	<link rel="shortcut icon" href="/favicon.ico" />
</head>


<body>
<div id = "qwst_hdr">
<div><a  id = "logo" href ="/about">daqwest</a></div>

<div style="float:right;margin-top:5px;margin-right:20px;">
<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="http://algorithm.daqwest.com" data-text="For all the algorithms lovers :) #AlgorithmRepository via @dqwst" style="float:right"></a>
</div>
<div class="fb-share-button" data-href="http://algorithm.daqwest.com" data-type="button_count"></div>
</div>
</div>


<div style="margin-left:300px;margin-top:50px;margin-right:200px;overflow:hidden;">
<div style="font-family:sans-serif;font-size:3.0em;color:#666;font-weight:200;margin-bottom:20px;">Mission <small style="color:#aaa;">building information repositories</small></div>
<div style="width:650px;">
<p style="color:#222;font-size:1.4em;font-family:serif;font-weight:200;">There is lot of information related to a <span style="background-color:#cfc">topic</span> present over different sources. What we are aiming is to <span style="background-color:#cfc">provide a way to bind these pieces of information</span> related to a topic spread over the web, connect these pieces and structurize it making an <span style="background-color:#cfc"><a target="_blank" href="http://algorithm.daqwest.com">information repository</a></span>.</p>
<p style="color:#222;font-size:1.4em;font-family:serif;font-weight:200;">More such <span style="background-color:#cfc">linked</span> information about a topic gives more <span style="background-color:#cfc">power to people and machines</span> to access these different pieces of information efficiently.</p>
</div>

<div style="font-family:sans-serif;font-size:3.0em;color:#666;font-weight:200;margin-top:300px;">People <small style="color:#aaa;">behind dq</small></div>

<div style="width:270px;float:left;padding:40px;">
<div><img src="/assets/papri.jpg" width="150px" height="150px" style="border-radius:5%;margin-right:auto;margin-left:auto;display:block;margin-bottom:30px;"></div>
<div style="font-family:sans-serif;font-size:1.6em;color:#666;font-weight:200;margin-bottom:10px;text-align:center;">Prateek Papriwal</div>
<p style="color:#111;font-size:1.4em;font-family:sans-serif;font-weight:200;text-align:justify;">Open and linked data aficionado. Chief Product with emphasis on minimalistic design. Data miner who sometimes claims to have visualised web-crawlers in dreams. He loves playing bass guitar.</p>
<div><span style="font-family:sans-serif;font-size:1.2em"><a style="color:#aaa;" href="https://twitter.com/prateek240" target="_blank">Twitter</a></span > <span style="color:#aaa;">.</span> <span style="font-family:sans-serif;font-size:1.2em"><a style="color:#aaa;" href="mailto:papriwalprateek@gmail.com">Email</a><span></div>
</div>
<div style="float:left;width:270px;padding:40px;">
<div><img src="/assets/vinay.jpeg" width="150px" height="150px" style="border-radius:5%;margin-right:auto;margin-left:auto;display:block;margin-bottom:30px;"></div>
<div style="font-family:sans-serif;font-size:1.6em;color:#666;font-weight:200;margin-bottom:10px;text-align:center;">Vinay Raj</div>
<p style="color:#111;font-size:1.4em;font-family:sans-serif;font-weight:200;text-align:justify;">Cleaner Web zealot. Chief Architect. Whether it's ruby, javascript or rails, android, he doesn't care, once he gets going he is fast and unstoppable. Volleyball lover, be it a role of booster or attcker, he just gets it going.</p>
<div><span style="font-family:sans-serif;font-size:1.2em"><a style="color:#aaa;" href="https://twitter.com/vinayraj147" target="_blank">Twitter</a></span> <span style="color:#aaa;">.</span> <span style="font-family:sans-serif;font-size:1.2em"><a style="color:#aaa;" href="mailto:vinayrajchoudhary@gmail.com">Email</a><span></div>
</div>
<div style="float:left;width:270px;padding:50px;">
<div><img src="/assets/sagri.jpg" width="150px" height="150px" style="border-radius:5%;margin-right:auto;margin-left:auto;display:block;margin-bottom:30px;"></div>
<div style="font-family:sans-serif;font-size:1.6em;color:#666;font-weight:200;margin-bottom:10px;text-align:center;">Kshirsagar Sumit Anil</div>
<p style="color:#111;font-size:1.4em;font-family:sans-serif;font-weight:200;text-align:justify;">Content quality hacker. He strongly believes that qualities matters more than the quantity. Loves algebra, apply conditional probabilities in day-to-day life! Some call him lazy geek, but they have never seen him play volleball.</p>
<div><span style="font-family:sans-serif;font-size:1.2em"><a style="color:#aaa;" href="https://twitter.com/sumit7777777">Twitter</a></span> <span style="color:#aaa;">.</span> <span style="font-family:sans-serif;font-size:1.2em"><a style="color:#aaa;" href="mailto:sumit.silentstorm@gmail.com">Email</a><span></div>
</div>

</div>

<div style="margin-left:300px;margin-top:300px;margin-right:200px;overflow:hidden;margin-bottom:500px;">
<div style="font-family:sans-serif;font-size:3.0em;color:#666;font-weight:200;margin-bottom:20px;">Contact <small style="color:#aaa;">ping us</small></div>
<p style="color:#222;font-size:1.4em;font-family:serif;font-weight:200;">Drop us a note at <span style="background-color:#cfc">contact.daqwest@gmail.com</span>. Follow us on twitter <a style="background-color:#cfc" href="http://www.twitter.com/dqst" target="_blank">@dqwst</a>.</p>
</div>



</body>
