<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

 <head>
<title>
<%= title %></title>
<%= render 'layouts/stylesheets' %> 

 	<link rel="shortcut icon" href="/favicon.ico" />

</head>

<body >
<div style = "height:60px;background-color:#99cc88;padding-top:20px;">
<ul>
<div style = "display:inline;margin-left:150px;">
<a class="live_link" href="/" style="font-size:2.8em;color:#fff;line-height:1.2em;font-weight:bold;font-family:Lucida Grande">DaQwest</a></a>
</div>
<a href="/about"style="color:#fff;display:inline;margin-left:35%;font-size:150%;font-family:BentonSans;">About</a>
<a href="/team" style="color:#fff;display:inline;margin-left:3%;font-size:150%;font-family:BentonSans;">Team</a>
<a href = "/blogs" style="color:#fff;display:inline;font-size:150%;margin-left:3%;font-family:BentonSans;">Blog</a>
<a style="color:#fff;display:inline;font-size:150%;margin-left:3%;font-family:BentonSans;">|</a>
<a href = "/signin#signin" style="color:#fff;display:inline;font-size:150%;margin-left:50px;font-family:BentonSans;">Log in</a>
</ul>
</div>

<div class="container ">

<% flash.each do |key, value| %>
<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
</div>

</div>

<div style="margin-left:15%;margin-right:25%;margin-top:2%">

<br>

<h1 style="color:#690;font-size:35px;font-family: BentoSans">Daqwest's goal is to create a powerful ecosphere for effective communication and collaboration.</h1>
<div>
<p style="font-size:1.2em;color:#808080;font-family:BentoSans;">Daqwest brings together the idea of mailing-list, concept of discussion forums and information from important information sources under one in-browser application.</p>
</div>
<br>
<hr>
<br>
</div>
<div style="background-color:#d8d8d8;margin-left:15%;margin-right:4%;">
<div style ="padding:2%;"><%= image_tag("aboutdq.png", :alt => "DQ", :width => "1160px") %></div>
</div>
</div>
</body>