<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

 <head>
<title>
<%= title %></title>
<%= render 'layouts/stylesheets' %> 

 	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body >
<div style = "height:60px;background-color:#99cc88;padding-top:20px;">
<ul>
<div style = "display:inline;margin-left:150px;">
<a class="live_link" href="/" style="font-size:2.8em;color:#fff;line-height:1.2em;font-weight:bold;font-family:Lucida Grande">DaQwest</a></a>
</div>
<a href="/about"style="color:#fff;display:inline;margin-left:35%;font-size:150%;font-family:BentonSans;">About</a>
<a href="/team" style="color:#fff;display:inline;margin-left:3%;font-size:150%;font-family:BentonSans;">Team</a>
<a href = "/blogs" style="color:#fff;display:inline;font-size:150%;margin-left:3%;font-family:BentonSans;">Blog</a>
<a style="color:#fff;display:inline;font-size:150%;margin-left:3%;font-family:BentonSans;">|</a>
<a href = "/signin#signin" style="color:#fff;display:inline;font-size:150%;margin-left:50px;font-family:BentonSans;">Log in</a>
</ul>
</div>

<div class="container ">

<% flash.each do |key, value| %>
<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
</div>

</div>

<div style="margin-left:15%;margin-right:25%;margin-top:2%">

<br>
<br>
<h1 style="color:#333;font-family: Georgia, FreeSerif, Times, serif;font-size:30px;">Our Team</h1>
<div style="width:70%;">
<p style="font-family: Open Sans,sans-serif;font-size:18px;">We are a team of engineering hackers who have a prior experience at Google Summer of Code, Scilab and few mobile app startups. Having worked at places where community collaboration is an important ingredient, we understand that there is a need to empower the ecosphere.</p>
</div>
</div>


</body>