 <div class ="post" data-time="<%=qmail.created_at.to_i%>"> 
 	<%begin%>
 	<div style="float:right"><%= image_tag(Gravatar.new(qmail.user.email).image_url, :size => "30x30") %></div> 
  <%rescue%>
  <%end%>
 	<%= markdown(qmail.content) %> 
 	<%= link_to 'x', [qmail.q, qmail], :remote => true, :method => :delete, :data => { :confirm => 'Are you sure?' } %> </div> <hr>