
<%begin%>
<%if current_user%>
<%= form_for([current_user, current_user.gists.build], :remote => true,  :update => "gists_list", :position => :top) do |f| %>
  <div class="gist_form">
   <div class="gist_field">
    <%= f.text_field :title %>
  </div>
  <div class="gist_textarea">
    <%= f.text_area :content %>
  </div>
  
  <div class="gist_actions">
    <%= f.submit%>
  </div>
  </div>
<% end %>

<% end %>
<%rescue%>
<%end%>