
<div  data-time="<%=gist.created_at.to_i%>">
 
  <b><%= gist.title%>
  </b>
  <%if gist.content%>
  <%=raw(gist.content)%>
 
 	<%end%>
<%= link_to 'X', [gist.user, gist], :remote => true, :method => :delete %>

 </div>
 