.container {
margin-bottom: 0px; margin-top: 0px;
}
body { width:100%;background: #FFFFFF; margin: 0px; padding: 0px;height: 100%;
}
p{margin:0px;}
#header { height: 40px ;background-color: #F5F5DC;border-top:0px;
} 
#header img { padding-right: 5px; background: #F5F5DC; float: left; 
}
.signin_form{color: #333333;
margin-top: 30px;
font-family: Georgia, Serif;	
margin-right: auto;
margin-left: auto;
	width: 40%;
box-shadow: 0 0 5px 0px #888;
}
#content img{ margin-bottom: 0px;
}
#content { background:#FFFFFF;
	 width: 47%;  float: left; height:620px; overflow-y:auto;margin-top:10px;
	 -webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;

}
.content_middle{
	background: #FFFFFF;
font-family: sans-serif;
}
.ui-layout-center{
	padding:0px;
}
.ui-layout-west{
	padding:0px;
	width: 800px;
}.ui-layout-east{
	padding:0px;
}
.ui-layout-toggler{
}
.ui-layout-resizer{
	background:#FFFFFF;
}
#examplePadBasic{
	height: 400px;
	width: 96%;
	border:0px solid #a1a1a1;
-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;
}
#add_q{
background: #f5dff5;
}
#form_addq{
background: #f5dff5;
padding-left:2px;	
}

table{
	margin:0px;
}
div.content_header{
	 background:#09c;
	margin: 0px;
	color: #FFFFFF;
	height: 30px;
	padding-right: 10px;
	}
.content_header label{
	display: inline;
	float: right;
}
.content_header .hc-preview{
	float: right;
}
.quests_tiles_img img{ float:left;
margin:1px;}
.quests_tiles_img{
float:right;
width:20%;
}

div.quests_tiles{
	
height:162px;
opacity:0.6;
background-color:#EFEFEF;

color:#232323;
position:relative;
}
.quests_tiles h2{
	color:#000000;
}
.quests_tiles:hover{
	box-shadow: 0 0 0px 0px #888;
background:#FFFFFF;
opacity:0.8;
}
.qs_tiles {display:block;
opacity:0.6;
border-width:0px;
background-color:#EFEFEF;
margin: 5px;
color:#232323;
position:relative;
font-size: 8px;

}
.qs_tiles:hover{
	background:#FFFFFF;
opacity:0.8;

}
.qs_tiles_form {
display:block;
opacity:0.6;
border-width:0px;
background-color:#666;
margin: 5px;
color:#232323;
position:relative;

}

.quests_show{
	display:inline-block;
	width:75%;
	float:right;
		margin-top:10px;
}
.user_image{
	padding:5px;
	border:1px solid;
	display:inline-block;
	border-color:#DEDEDE;
	margin-top:10px;
}
.dashboard{
	margin-left:40px;
		margin-top:10px;
}
.dashboard_right{
	width:20%;
	float:left;
	height:100%;
	
}
.user_image{
margin-bottom: 5px;
-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;
}
.user_image img{margin:0px;
width: 100%;
}
div.post { font-size: 120%; padding: 10px;
}
div.users { float: left; width: 850px;
}
.quest_blocks{
	height: 40px ; 
	color: #000000;padding-top:10px;
}
.quest_blocks:hover {
	
		background: #f5dff5;
}
.quest_blocks:active {

background: #f7b3da;
}
hr{
	margin:0px;
}
/* bold line hr*/
#boldhr{
	height: 5px;
}
#onselection_list{
position: absolute;

background:#333333;
color: #FFFFFF;
 z-index:99;
 box-shadow: 5px 5px 3px #888888;
 }

ul.ui-autocomplete a{
color: #333333;
	
}
ul.ui-autocomplete{
margin: 0px;
background:#FFFFFF;
-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;

 z-index:199;
 width: 120px;
 
}
ul{
	list-style-type: none;
}
/* Links */

.navigation { background-color: #F5F5DC; white-space: nowrap;
}
ul.navigation { float: right;}
.navigation li { list-style-type: none; display: inline-block; 
}
.navigation li a { padding: 0 5px; font-weight: bold;
}
.navigation li a:visited { color: #99B299;
}
.navigation li a:hover { text-decoration: underline;
}

/*navigation for footer*/
.navigationf { background-color: #FFFFFF; white-space: nowrap;
}
ul.navigationf { float: right;}
.navigationf li { list-style-type: none; display: inline-block; 
}
.navigationf li a { padding: 0 5px; font-weight: bold;
}
.navigationf li a:visited { color: #99B299;
}
.navigationf li a:hover { text-decoration: underline;
}
a.signup_button { margin-left: auto; margin-right: auto; display: block; text-align: center; width: 150px;
color: #fff; background: #09c; font-size: 150%; font-weight: bold; padding: 10px; 
}
.round {
-webkit-border-radius: 10px;
border-radius: 10px; }
#footer {
color: #99B299;
float: right;
width: 1200px;
}
textarea {	width: 400px;
	padding:0px;
	resize:none;
	}
.ui-dialog-shadow{

         -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);  
     }
.leftcontent_head{
	background:#f7b3da;
	height: 30px;
	font-family:arial;
	font-size:12px;
	color: #FFFFFF;
	
}
#leftcontent {
float: left;
width: 18%;
height: 620px;

background:#FFFFFF;
box-shadow: 0 0 5px 0px #888;
 overflow-y:auto;

}
#leftcontent img{
	float: right;
}
.navigate_quest{
	height: 28px;
	background:#E6E8FA;
	
}
#triangle-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #E6E8FA;
	border-bottom: 5px solid transparent;
}
		
#rightcontent{
float: right;
width: 33%;
margin-right: 5px;
height:620px; overflow-y:auto;
 background: #ffffff; margin-top:10px;
box-shadow: 0 0 5px 0px #888;
padding-left: 5px;


}
#rightcontent_head{
	height: 30px;
	background:#f7b3da;
color: #FFFFFF;
padding:0px;
	
}

#rightcontent_head img{
padding:0px;
margin-bottom: 0px;
float: right;
}

.time{
	float:right;
	font-size:10px;
	color : #BBBBBB;
	
}
#dialog-formQ{background-color:#d7fab9;
}

#borderless{
	
	border: 0px;
}
.qmail_field textarea{
	width: 99%;
	
}

#dialog-form{
float:right;}
.button {
float: right;
	
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
		background-color:#ededed;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;	
}.button:hover {
	background-color:#f5dff5;
}.button:active {
	position:relative;
	top:1px;
}

.button1 {
	margin:0px;
	height:30px;
	float:right;
	width:30px;
	border:0px solid #ff5100;
	display:inline-block;
	color:#00ff00;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #b06034;
}.button1:hover {
	
		color:#ffaaaa;
}.button1:active {
	position:relative;
	top:1px;
}
.button_new_quest {
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#66c319;
	-webkit-border-radius:6px;
	float:right;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#FFFFFF;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	
	
}
.button_new_quest :hover {
	background-color:#5cb811;
}
.button_new_quest:active {
	position:relative;
	top:1px;
}
h2{
	margin:0px;
}
a.block{
	display:block;
	margin : 5px;
}
.grey{
	color:#CCCCCC;
}
.grey:hover{	color:#CCCCCC;
}
#wikiimage {
padding:5px;float:left;
box-shadow: 0 0 5px 0px #888;
border:1px solid;
border-color:#DEDEDE;
margin: 3px 10px 0px 3px;
	
}
.black_transparent{background:#000;
margin:auto;
height:90%;
width:95%;
opacity:0.90;
z-index:2;
box-shadow: 0px 0px 15px 5px rgba(10,10, 60, .85);
border-radius: 15px;
}
.bold{
	font-weight: bold;
}
/*
* CSS Styles that are needed by jScrollPane for it to operate correctly.
*
* Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
* may not operate correctly without them.
*/

.jspContainer
{
overflow: hidden;
position: relative;
}

.jspPane
{
position: absolute;
}

.jspVerticalBar
{
position: absolute;
top: 0;
right: 0;
width: 8px;
height: 100%;
background: red;
}

.jspHorizontalBar
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 8px;
background: red;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
margin: 0;
padding: 0;
}

.jspCap
{
display: none;
}

.jspHorizontalBar .jspCap
{
float: left;
}

.jspTrack
{
background: #ddd;
position: relative;
}

.jspDrag
{
background: #bbb;
position: relative;
top: 0;
left: 0;
cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
float: left;
height: 100%;
}

.jspArrow
{
background: #505050;
text-indent: -20000px;
display: block;
cursor: pointer;
}

.jspArrow.jspDisabled
{
cursor: default;
background: #808080;
}

.jspVerticalBar .jspArrow
{
height: 8px;
}

.jspHorizontalBar .jspArrow
{
width: 8px;
float: left;
height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
outline: none;
}

.jspCorner
{
background: #eeeef4;
float: left;
height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
margin: 0 -3px 0 0;
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: auto;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}
pre {
	background: #eee;
}
.gist_form{
	background:#E1E1E1;
	padding:3px;
	width: 80%;
	-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;
margin-left:5px;

}
.gist_field{
		margin-bottom:3px;
}
.gist_field input{
	
	border: 0px;
}
.gist_textarea textarea{
	margin:auto;
	width:100%;
	border: 0px;
	resize:vertical;
	
}
a#mashup_links{
	color:#006600;
}
