.container {
margin-bottom: 0px; margin-top: 0px;
}
body { width:100%;background: #FFFFFF; margin: 0px; padding: 0px;height: 100%;
}
p{margin:0px;}
#header {width:100%;height: 55px ;padding-right:80px;padding-left: 10px;position:fixed;z-index: 10;background-color:#fff;} 
#header img { 
background: #EEE; float: left;
}
#header .logo{
margin-left:30px;
margin-top:10px;
}

.user_hdr_img{
width: 30px;
height:30px;
}
.user_info{
padding: 4px 20px 10px 40px;
font-size:14px;
}
.user_info_right{
padding: 4px 20px 10px 40px;
font-size:14px;
width:400px;
}

#my_quests_button{color:white;font-size:1.3em;
text-align:center;padding-top:5px;padding-bottom:5px;box-shadow: 0 0 2px 0px #E0E0E0;background-color:#464368;width:18%;
margin-right:2%;
margin-bottom:5px;
float:right;
cursor:pointer;
}
#content img{ margin-bottom: 0px;
}
#content { background:#FFFFFF;
	 width: 65%;  float: left; height:100%; overflow-y:auto;margin-top:4%;
}

.content_middle{
	background: #FFFFFF;
font-family: sans-serif;
}
.ui-layout-center{
	padding:0px;
}
.ui-layout-west{
	padding:0px;
	width: 800px;
}.ui-layout-east{
	padding:0px;
}
.ui-layout-toggler{
}
.ui-layout-resizer{
	background:#FFFFFF;
}
#examplePadBasic{
	height: 400px;
	width: 96%;
	border:0px solid #a1a1a1;
-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;
}
#add_q{
background: #f5dff5;
}
#form_addq{
background: #f5dff5;
padding-left:2px;	
}

table{
	margin:0px;
}
div.content_header{
	 background:#09c;
	margin: 0px;
	color: #FFFFFF;
	height: 30px;
	padding-right: 10px;
	}
.content_header label{
	display: inline;
	float: right;
}
.content_header .hc-preview{
	float: right;
}
.quests_tiles_img{
float:left;
margin-top:15px;
width:250px;
}
.quests_tiles_img img{ 
float:left;
margin:1px;}

div.quests_tiles{
width:70%;
height:170px;
position:relative;
border-top: 1px solid #F8F8F8;

box-shadow: 0 1px 2px 0 #ccc;
margin-bottom: 24px;
}

.time_quest{
font-family:"sofiapro",Arial,sans-serif;
float:right;
font-size:14px;
margin-top:130px;
margin-right:20px;
color : #555;	
line-height:24px;
}
.time{
margin:8px;
float:right;
font-size:15px;
color : #555;	
}

.qs_tiles {display:block;
opacity:0.8;
background-color:#EFEFEF;
margin: 3px;
color:#232323;
position:relative;
font-size: 8px;
}
.quests_show:hover{
}

.quests_info {
margin-left: 20%;
margin-top: 2%;
}
.qs_tiles {display:block;
opacity:0.8;
border-width:0px;
background-color:#EFEFEF;
margin: 2px;
color:#232323;
position:relative;
font-size: 8px;
}
.qs_tiles:hover{
	background:#FFFFFF;
opacity:0.8;

}

.quests_show{
	display:inline-block;
	width:75%;
	margin-top:10px;
	margin-left:3%;
}
.quest_search_page{
	display:inline-block;
	width:80%;
	margin-top:10px;
	margin-left:3%;
}
.vm_results{
	display:none;
	width:65%;
	float:left;
	padding: 2px;
	margin-top: 10px;
}
.vm_tray{margin-top: 0px;}
.user_image{
	padding:5px;
	border:1px solid;
	display:inline-block;
	border-color:#DEDEDE;
	margin-top:10px;
}
.dashboard{
	margin-left:40px;
}
.dashboard_right{
width:20%;
float:left;
height:100%;
margin-top:10px;
font-size:120%;
color:#888;
}
.user_image{
margin-bottom: 5px;
-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;
}
.user_image img{margin:0px;
width: 100%;
}
div.post { font-size: 120%; padding: 10px;
padding-top:0px;
}
div.users { float: left; width: 850px;
}
.quest_blocks{
	height: 40px ; 
	color: #000000;padding-top:10px;
}
.quest_blocks:hover {
	
		background: #f5dff5;
}
.quest_blocks:active {

background: #f7b3da;
}
hr{
	margin:0px;
}
/* bold line hr*/
#boldhr{
	height: 5px;
}
#onselection_list{
position: absolute;

background:#333333;
color: #FFFFFF;
 z-index:99;
 box-shadow: 5px 5px 3px #888888;
 }

ul.ui-autocomplete a{
color: #333333;
	
}
ul.ui-autocomplete{
margin: 0px;
background:#FFFFFF;
-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;

 z-index:199;
 width: 120px;
 
}
ul{
	list-style-type: none;
}
/* Links */

.navigation {white-space: nowrap;
}
ul.navigation { float: right;margin-right:100px;}
.navigation li { list-style-type: none; display: inline-block; 
}
.navigation li a { padding: 0 5px; font-weight: bold; color:#444;
}
.navigation li a:hover { text-decoration: underline;
}

/*navigation for footer*/
.navigationf { background-color: #FFFFFF; white-space: nowrap;
}
ul.navigationf { float: right;}
.navigationf li { list-style-type: none; display: inline-block; 
}
.navigationf li a { padding: 0 5px; font-weight: bold;
}
.navigationf li a:visited { color: #99B299;
}
.navigationf li a:hover { text-decoration: underline;
}
a.signup_button { margin-left: auto; margin-right: auto; display: block; text-align: center; width: 150px;
color: #fff; background: #09c; font-size: 150%; font-weight: bold; padding: 10px; 
}
.round {
-webkit-border-radius: 10px;
border-radius: 10px; }
#footer {
color: #99B299;
float: right;
width: 1200px;
}
textarea {	width: 400px;
	padding:0px;
	resize:none;
	}
.ui-dialog-shadow{

         -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);  
     }
.leftcontent_head{
	background:#f7b3da;
	height: 30px;
	font-family:arial;
	font-size:12px;
	color: #FFFFFF;
	
}
#leftcontent {
float: left;
width: 18%;
height: 620px;

background:#FFFFFF;
box-shadow: 0 0 5px 0px #888;
 overflow-y:auto;

}
#leftcontent img{
	float: right;
}
.navigate_quest{
	height: 28px;
	background:#E6E8FA;
	
}
#triangle-right {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid #E6E8FA;
	border-bottom: 5px solid transparent;
}
	#rightcontent{
float: right;
width: 35%;
margin-right: 10px;
margin-left:66%;
margin-top:70px;
height:85%;
overflow:scroll;
box-shadow: 0 3px 4px 0px #ccc;
padding:20px;
position:fixed;

}
#rightcontent_head{
	height: 30px;
	background:#f7b3da;
color: #FFFFFF;
padding:0px;
	
}

#rightcontent_head img{
padding:0px;
margin-bottom: 0px;
float: right;
}


#dialog-formQ{background-color:#d7fab9;
}

#borderless{
	
	border: 0px;
}
.qmail_field textarea{
	width: 99%;
	
}
.qmail_field {
width: 100%;
}
#dialog-form{
float:right;}
.button {
float: right;
	
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
		background-color:#ededed;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:12px;
	padding:4px 12px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;	
}.button:hover {
	background-color:#f5dff5;
}.button:active {
	position:relative;
	top:1px;
}

.button1 {
	margin:0px;
	height:30px;
	float:right;
	width:30px;
	border:0px solid #ff5100;
	display:inline-block;
	color:#00ff00;
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:1px 1px 0px #b06034;
}.button1:hover {
	
		color:#ffaaaa;
}.button1:active {
	position:relative;
	top:1px;
}
.button_new_quest {
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background-color:#66c319;
	-webkit-border-radius:6px;
	float:right;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#FFFFFF;
	font-family:arial;
	font-size:10px;
	font-weight:bold;
	padding:2px 8px;
	text-decoration:none;
	
	
}
.button_new_quest :hover {
	background-color:#5cb811;
}
.button_new_quest:active {
	position:relative;
	top:1px;
}
h2{
	margin:0px;
}
a.block{
	display:block;
	margin : 5px;
	color:black;
}
.grey{
	color:#CCCCCC;
}
.grey:hover{	color:#CCCCCC;
}
#wikiimage {
padding:5px;float:left;
box-shadow: 0 0 5px 0px #888;
border:1px solid;
border-color:#DEDEDE;
margin: 3px 10px 0px 3px;
	
}
.black_transparent{background:#000;
margin:auto;
height:90%;
width:95%;
opacity:0.90;
z-index:2;
box-shadow: 0px 0px 15px 5px rgba(10,10, 60, .85);
border-radius: 15px;
}
.bold{
	font-weight: bold;
}
/*
* CSS Styles that are needed by jScrollPane for it to operate correctly.
*
* Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
* may not operate correctly without them.
*/

.jspContainer
{
overflow: auto;
position: relative;
height:8000px !important;
}

.jspPane
{
position: absolute;
height:100%;
}

.jspVerticalBar
{
position: absolute;
top: 0;
right: 0;
width: 8px;
height: 100%;
}

.jspHorizontalBar
{
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 8px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
margin: 0;
padding: 0;
}

.jspCap
{
display: none;
}

.jspHorizontalBar .jspCap
{
float: left;
}

.jspTrack
{
background: #ddd;
position: relative;
}

.jspDrag
{
background: #bbb;
position: relative;
top: 0;
left: 0;
cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
float: left;
height: 100%;
}

.jspArrow
{
background: #505050;
text-indent: -20000px;
display: block;
cursor: pointer;
}

.jspArrow.jspDisabled
{
cursor: default;
background: #808080;
}

.jspVerticalBar .jspArrow
{
height: 8px;
}

.jspHorizontalBar .jspArrow
{
width: 8px;
float: left;
height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
outline: none;
}

.jspCorner
{
background: #eeeef4;
float: left;
height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
margin: 0 -3px 0 0;
}
.scroll-pane
{
	width: 100%;
	height: 200px;
	overflow: scroll;
}
.horizontal-only
{
	height: auto;
	max-height: 200px;
}
pre {
	white-space:pre-wrap;
	word-wrap:break-word;
	background-color:#F8F8F8;border:1px solid #DDD;padding:10px;
}
.gist_form{
	background:#E1E1E1;
	padding:3px;
	width: 80%;
	-webkit-box-shadow: 0 0 0px 5px#888;
box-shadow: 0 0 5px 0px #888;
margin-left:5px;

}
.gist_field{
		margin-bottom:3px;
}
.gist_field input{
	
	border: 0px;
}
.gist_textarea textarea{
	margin:auto;
	width:100%;
	border: 0px;
	resize:vertical;
	
}
a#mashup_links{
	color:#006600;
}
.mails{float:right;
	display:inline-block;
	width:75%;
		margin-top:10px;
}

h3.title{
color:#888;
margin-top:10px;
}

span.mw-headline{
color:#888;
}

input#ad{
font-size:1.8em;
padding:3px;
border:0px;margin-top: 10px;
width:90%;
color: #CCC;
border-bottom:0px;
}

input#ad:focus{
font-size:1.8em;
padding:3px;
border:0px;margin-top: 10px;
width:90%;
color: #CCC;
border: solid 1px #9ecaed;
box-shadow: 0 0 5px #9ecaed;
}


.notifications_all{
	margin-left:130px;
	margin-top:20px;
}
.notification_tile{
	padding: 10px 0px;
	font-size: 1.1em;
}
.unread_notification{
	padding: 10px 0px;
	font-size: 1.1em;
	background:#D7FAB9;
}
.unread_notification_left{
	background:#D7FAB9;
}
.unread_notification_count{
float:right;
font-size:15px;
padding:2px;
background-color:#CD0A0A;	
color:#FFFFFF;
}
.join_quest {
-moz-box-shadow:inset 0px 1px 0px 0px #fdfffc;
-webkit-box-shadow:inset 0px 1px 0px 0px #fdfffc;
box-shadow:inset 0px 1px 0px 0px #fdfffc;

background-color:#C3DD82;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:0px solid #666;
display:inline-block;
color:#406A24;
font-family:arial;
font-size:17px;
font-weight:bold;
padding:5px 17px;
text-decoration:none;
text-shadow:0px 1px #D4ED95;
cursor:pointer;
}
.join_quest:active {
position:relative;
top:1px;
}

.leave_quest{
background-color:#e8e8e8;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:0px solid #dbdbdb;
display:inline-block;
color:#666;
font-family:arial;
font-size:17px;
font-weight:bold;
padding:5px 17px;
text-decoration:none;
cursor:pointer;
}
.signin_form{color: #888;
margin-top: 100px;
margin-bottom:100px;
font-family: arial, helvetica, sans-serif;	
margin-right: auto;
margin-left: auto;
width: 30%;
border: none;
background: #F8F8F8;
padding: 30px 30px 30px;
}
input#user_name{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
}

input#user_name:focus{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}

input#user_email{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
}

input#user_email:focus{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}

input#user_password{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
}

input#user_password:focus{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}


input#user_password_confirmation{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
}

input#user_password_confirmation:focus{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}

#user_session_email{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
}

#user_session_email:focus{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}

#user_session_password{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
}
#user_session_password:hover{
width: 80%;
height: 32px;
font-size: 15px;
direction: ltr;
border: none;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}
.motto {
font-family:BentonSans;
text-align:center;margin-top:140px;color:#fff;font-size:3.3em;line-height:1.2em;
}

.motto_desc {
font-family:BentonSans;
text-align:center;margin-top:10px;color:#ddd;font-size:2.2em;line-height:1.1em;
}


#motto_signup_button{
color:#99B299;font-size:1.6em;
text-align:center;background-color:#fff;
padding:7px;
margin-top:80px;
margin-left:45%;
width:150px;
cursor:pointer;
}

.field{
font-size: 120%;
margin-top: 5%;
}

.signin {
color:white;font-size:1.4em;
text-align:center;padding-top:5px;padding-bottom:5px;background-color:#9c8;width:25%;
height:35px;
cursor:pointer;
}
.vm_icon{
display:inline-block;
cursor:pointer;
font-family:BentoSans;
color:#666;
font-size:1.4em;
}
.vm_icon1{
display:inline-block;
cursor:pointer;
font-family: arial sans-serif;
color:#777;
font-size:1.4em;
}
.vm_icon1:hover{
border-bottom: 3px solid #DDDDDD;
}
.qmail_submit {
margin-top:10px;
-moz-box-shadow:inset 0px 1px 0px 0px #d2f0b7;
-webkit-box-shadow:inset 0px 1px 0px 0px #d2f0b7;
box-shadow:inset 0px 1px 0px 0px #d2f0b7;
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d7f2bd), color-stop(1, #bddba2) );
background:-moz-linear-gradient( center top, #d7f2bd 5%, #bddba2 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7f2bd', endColorstr='#bddba2');
background-color:#D1E1AD;
border:1px solid #e0f0dd;
display:inline-block;
color:#666;
font-family:arial;
font-size:15px;
font-weight:bold;
padding:5px 23px;
text-decoration:none;
text-shadow:1px 1px 0px #c4eb9f;
}.qmail_submit:hover {
background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bddba2), color-stop(1, #d7f2bd) );
background:-moz-linear-gradient( center top, #bddba2 5%, #d7f2bd 100% );
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddba2', endColorstr='#d7f2bd');
background-color:#bddba2;
}.qmail_submit:active {
position:relative;
top:1px;

}


#blog {
font-family: Georgia, FreeSerif, Times, serif;
font-size:20px;
line-height:30px;
}
#start_thread_button{color:white;font-size:1.3em;}
#start_thread{
text-align:center;padding-top:5px;padding-bottom:5px;box-shadow: 0 0 2px 0px #E0E0E0;background-color:#9c7;width:25%;}

input#q_title{
margin-top:30px;
margin-bottom: 20px;
color: #CCC;
width:90%;
font-size:2em;
border:0px;
}

input#q_title:focus{
margin-top:30px;
margin-bottom: 20px;
width:90%;
color: #CCC;
border-color: #9ecaed;
box-shadow: 0 0 10px #9ecaed;
}

.clear_notification1{
	cursor: pointer;
}
.clear_notification{
	cursor: pointer;
}
#rightcontentdefault {
	font-size:18px;
	margin-top:20px;
	margin-bottom:20px;
	color:#888;
	font-weight:bold;
}
/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; }       
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
        list-style:none;
        padding: 2px;
        margin: 0;
        display:block;
}
.ui-menu .ui-menu {
        margin-top: -3px;
}
.ui-menu .ui-menu-item {
        margin:0;
        padding: 0;
        width: 100%;
}
.ui-menu .ui-menu-item a {
        text-decoration:none;
        display:block;
        padding:.2em .4em;
        line-height:1.5;
        zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
        margin: -1px;
}

input#add_user{
font-size:0.8em;
padding:3px;
margin-top: 5px;
width:65%;
color: #666;
border: solid 1px #ccc;
}

input#add_user:focus{
font-size:0.8em;
padding:3px;
margin-top: 5px;
width:65%;
color: #666;
border: solid 1px #9ecaed;
box-shadow: 0 0 5px #9ecaed;
}

input#add_user_by_mail{
font-size:0.8em;
padding:3px;
margin-top: 5px;
width:65%;
color: #666;
border: solid 1px #ccc;
}

input#add_user_by_mail:focus{
font-size:0.8em;
padding:3px;
margin-top: 5px;
width:65%;
color: #666;
border: solid 1px #9ecaed;
box-shadow: 0 0 5px #9ecaed;
}

div.quests_tiles_explore{
height:120px;
position:relative;
border-top: 1px solid #EEE;
box-shadow: 0 2px 3px 0 #ccc;
margin-bottom: 24px;
}


input {display:inline;}


/*below is highlight.js syntax highlighter css*/
/* qmail css */

div.post {
	font-family: sans-serif, Arial, Verdana, "Trebuchet MS";
	font-size:14px;
	color: #333;
	margin-bottom:20px;
	margin-right:10px;
	margin-left:1%;
	overflow:hidden;
	padding:20px;
	box-shadow: 0 0 2px 0px #E0E0E0;
	background-color:#F8F8F8;
	word-wrap:break-word;

}

div.c_qmail{
margin-top:10px;
}

div.post blockquote {
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0 0 5%;
	margin-left: 10%;
	border-left-style: solid;
	border-left-width:5px;
	border-color: #ccc;
}

div.post h1 {font-size:1.8em;line-height:1;margin-bottom:1em;}
div.post h2 {font-size:1.4em;margin-bottom:1em;}
div.post h3 {font-size:1.1em;line-height:1;margin-bottom:1em;}
div.post h4 {font-size:0.9em;line-height:1.25;margin-bottom:1.25em;}
div.post h5 {font-size:0.7em;font-weight:bold;margin-bottom:1.5em;}
div.post h6 {font-size:0.7em;font-weight:bold;}

div.post p  {margin:0 0 1.5em;}

div.post img {margin:5px;}

div.post pre {
	
	background: #fff;
	white-space:pre-wrap;
	word-wrap:break-word;
	border-color: #eee;
	border-style:solid;
	border-width: 1px;
	padding: 10px;
}

/* end of qmail css*/
/*code coloring in pre highlight .js*/


/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

pre code {
  display: block; padding: 0.5em;
  color: #333;
  background: #f8f8ff
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .javadoc {
  color: #998;
  font-style: italic
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .nginx .title,
pre .subst,
pre .request,
pre .status {
  color: #333;
 /* font-weight: bold*/
}

pre .number,
pre .hexcolor,
pre .ruby .constant {
  color: #099;
}

pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula {
  color: #d14
}

pre .title,
pre .id {
  color: #900;
 /* font-weight: bold*/
}

pre .javascript .title,
pre .lisp .title,
pre .clojure .title,
pre .subst {
  font-weight: normal
}

pre .class .title,
pre .haskell .type,
pre .vhdl .literal,
pre .tex .command {
  color: #458;
/*  font-weight: bold*/
}

pre .tag,
pre .tag .title,
pre .rules .property,
pre .django .tag .keyword {
  color: #000080;
  font-weight: normal
}

pre .attribute,
pre .variable,
pre .lisp .body {
  color: #008080
}

pre .regexp {
  color: #009926
}

pre .class {
  color: #458;
  /*font-weight: bold*/
}

pre .symbol,
pre .ruby .symbol .string,
pre .lisp .keyword,
pre .tex .special,
pre .prompt {
  color: #990073
}

pre .built_in,
pre .lisp .title,
pre .clojure .built_in {
  color: #0086b3
}

pre .preprocessor,
pre .pi,
pre .doctype,
pre .shebang,
pre .cdata {
  color: #999;
 /* font-weight: bold*/
}

pre .deletion {
  background: #fdd
}

pre .addition {
  background: #dfd
}

pre .diff .change {
  background: #0086b3
}

pre .chunk {
  color: #aaa
}
input#search{
background:#f8f8f8;
font-size: 1.8em;
color: #CCC;
border:none;
margin-bottom: 15px;
width: 400px;
padding:8px 60px 8px 15px;
margin-top: 3px;
}
input#search:focus{
font-size: 1.8em;
width: 400px;
color: #CCC;
webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
box-shadow:inset 0 2px 2px rgba(0,0,0,0.15);
}
input#submitbar{
font-size: 1.8em;
width: 80px;
margin-top:2px;
margin-left:40px;
height:43px;
background-color:rgb(51,153,153);
font-size:2em;
color:#fff;    
border:none;
border-radius:5% 5% 5% 5%;

}
.purr {
  position: fixed;
  top: 30px;
  right: 100px;
  width: 250px;
  padding: 20px;
  background-color: #FCC;
  border: solid 2px #C66;
  &:first-letter { text-transform: uppercase; }
}
#progress {
	position: fixed;
	z-index: 2147483647;
	top: 0;
	left: -6px;
	width: 1%;
	height: 2px;
	background: #0088CC;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear;
}


#progress dd, #progress dt {
	position: absolute;
	top: 0;
	height: 2px;
	-moz-box-shadow: #0088CC 1px 0 6px 1px;
	-ms-box-shadow: #0088CC 1px 0 6px 1px;
	-webkit-box-shadow: #0088CC 1px 0 6px 1px;
	box-shadow: #0088CC 1px 0 6px 1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

#progress dt {
	opacity: .6;
	width: 180px;
	right: -80px;
	clip: rect(-6px,90px,14px,-6px);
}

#progress dd {
	opacity: .6;
	width: 20px;
	right: 0;
	clip: rect(-6px,22px,14px,10px);
}  
a.result_snippet_toggle{
	color: #C3DD82;
	float: right;
}
button.left_nav_buttons{
background-color:#ccc;
border:0px solid #666;
display:inline-block;
font-family:BentoSans;
font-size:15px;
padding:8px 5px 8px 5px;
cursor:pointer;
width:95%;
text-align:left;
}

span.vm_icon1{
padding-bottom:1%;
width:9%;
font-family:BentoSans;
text-align:center;
margin-right:2%;
}

div#searchresults{
	font-family:BentoSans;
	font-size:1.3em;
}


div#mailresults:hover{
background-color:#e8e8e8;
padding:5px;
}