<div id = "feedback_box" style="position:fixed;margin-left: 50px;bottom:0;background-color: #0088CC;font-size: 1.4em"> 
<a style="cursor:pointer;"><p id = "feedback_button"><b>Feedback</b></p></a>
<div id="feedback-dialog-form">
  <form data-remote ="true">
  	Tell us what you think about Daqwest
  <fieldset>
   <input type="text" id = "name" placeholder ="Your name" class="text ui-widget-content ui-corner-all" />
   <textarea id="feedback_body" placeholder="We love detailed feedback!" required="required" rows="5"></textarea>
   <button id="feedback_submit">Submit</button>
  </fieldset>
  </form>
</div>
<script>$(function() {
  $( "#feedback-dialog-form" ).dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      position: { my: "left top ", at: "0 0", of:$("html") },
    
    });
 
 $('button#feedback_submit').click(function(){
        	 $.ajax({
			type: "POST",
			url: "/feedback_submit",
			data: { feedback_name: $('div#feedback-dialog-form input#name').val(),
					feedback_content: $('div#feedback-dialog-form textarea#feedback_body').val() },
          
		});
		$("#feedback-dialog-form").dialog("close");      
 });
  $('p#feedback_button').click(function(){ 
  $( "#feedback-dialog-form" ).dialog("open");
  });
});

</script> 

</div>
