<div id = "feedback_box" style="position:fixed;padding:2px 8px 2px 8px;margin-left: 85%;bottom:0;background-color: rgb(51,153,153);font-size: 1.4em;"> 
<a style="cursor:pointer;color:#fff;"><p id = "feedback_button">Feedback</p></a></div>
<div id="feedback-dialog-form">
  <form data-remote ="true">
  	<div style="font-family:BentoSans;font-size:1.4em;text-align:center;margin:2px;color:rgb(51, 153, 153);font-weight:bold;">Tell us what you think about Daqwest</div>
  	<hr>
  	
  <fieldset>
   <% if current_user %>
   <input type="text" id = "name" value = <%=current_user.name%> class="text ui-widget-content ui-corner-all feedback-name" />
   <%else%>
   <input type="text" id = "name" placeholder = "Your name" class="text ui-widget-content ui-corner-all feedback-name" />
   <% end %>
   <textarea id="feedback_body" placeholder="We love detailed feedback!" required="required" rows="5"></textarea>
   <button id="feedback_submit">Submit Feedback</button>
  </fieldset>
  </form>
</div>
<script>$(function() {
  $( "#feedback-dialog-form" ).dialog({
      autoOpen: false,
      modal: true,
      width: 600,
      dialogClass: "feedback-box" 
    });
 //$('div.feedback-box').css("position","absolute");
 $('button#feedback_submit').click(function(){
        	 $.ajax({
			type: "POST",
			url: "/feedback_submit",
			data: { feedback_name: $('div#feedback-dialog-form input#name').val(),
					feedback_content: $('div#feedback-dialog-form textarea#feedback_body').val() },
          
		});
		$("#feedback-dialog-form").dialog("close");      
 });
  $('p#feedback_button').click(function(){ 
  $( "#feedback-dialog-form" ).dialog("open");
  });
});

</script> 
