<br>
<br>
        <%if @geekarticle%>
        <%begin%>
        				<%@geekarticle.each do |t|%>
	                        <div id = "searchresults"><%=raw t%></div>
                        <%end%>
        <%rescue%>
        <%end%>
        <%end%>
