<%if @code%>
            <%begin%>
                        <%@code.each do |t|%>
                        <div id = "searchresults"><%=raw t%></div>
                        <%end%>
            <%rescue%>
            <%end%>
        <%end%>