<%if @name%>
<h3><%=raw@name%></h3>
<hr>
<%end%>
<%if @introimage%>
<div id = "wikiimage" >

<img src = "<%=raw@introimage%>" alt = "india" height = "110" width = "110" >
</div>
<%end%>

<div id = "wikiinfo" style = "width:320px;float:left;">
<%=raw@info%>
</br>

<%=raw@image%>
</div>
