
<div id = "wikiimage" style="width:130px;float:left;">
<img src = "<%=raw@introimage%>" alt = "india" height = "130" width = "110" >
<h4 ><%=raw@name%></h4>
</div>

<div id = "wikiinfo" style = "width:320px;float:left;">
<%=raw@info%>
</br>
</br>
<%=raw@image%>
</div>