<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

 <head>
<title>
<%= title %></title>
<%= render 'layouts/stylesheets' %> 
<%= javascript_include_tag "application" %>

 	<link rel="shortcut icon" href="/favicon.ico" />

</head>
<body >
	
<div class="full_page">
 <div class="ui-layout-north">

<%= render 'layouts/header' %>
<div class="container ">

<% flash.each do |key, value| %>
<%= content_tag(:div, value, :class => "flash #{key}") %>
<% end %>
</div>

</div>
<div id="content" class="ui-layout-center">

<%= yield %>
</div>
<%= render 'layouts/rightcontent'%>
</div>
</body>
