<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
	<div style="float:left;max-width:700px;background-color:#fff;font-family:chaparral-pro,serif;margin-bottom:20px;">
	  <div id ="c">
<div id="articlecontent" style="padding-left:20px;padding-right:20px;font-size:1.3em;margin-left:0px">

<div style="font-size:1.5em;font-family:chaparral-pro,serif;font-weight:600;border-bottom:1px solid rgb(205,205,205);line-height:1.3em;padding-bottom:0.5em;margin-bottom:50px;"><%=@y_title.force_encoding("UTF-8")%></div>

<%=raw @y %>

 </div>
	</div>

</div>
<script>
$(function() {	
	  $('pre').each(function(i, e) {hljs.highlightBlock(e)});
});
</script>
