<head>
<meta charset="utf-8">
</head>
	<div style="float:left;max-width:700px;background-color:#fff;font-family:chaparral-pro,serif;margin-bottom:20px;">
	  <div id ="c">
<div id="articlecontent" style="padding-left:20px;padding-right:20px;font-size:1.3em;margin-left:0px;border-left:2px solid #eee;padding-top:10px;">

<div id = "articletitle" style="font-size:1.5em;font-family:chaparral-pro,serif;font-weight:600;border-bottom:1px solid rgb(205,205,205);line-height:1.3em;padding-bottom:0.5em;"><%=@y_title%></div>
<div style="float:right;margin-bottom:50px;margin-right:10px;margin-top:5px;"><a target="_blank" style = "color:rgb(153,153,153);font-family:serif;font-size:0.9em;" href="<%=@src%>">View source</a></div>
<%=raw @y.encode!('UTF-8') %>

 </div>
	</div>

</div>
<script>
$(function() {	
	  $('pre').each(function(i, e) {hljs.highlightBlock(e)});
	  $('div#articletitle')[0].textContent = $('div#articletitle')[0].textContent.replace('&#39;',"'");
});
</script>
